
* {
  box-sizing: border-box;
}

body {
  margin: 100px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

th {
  background-color: lightgrey;
}

table {
  margin: 0 auto;
}

.message {
  text-align: center;
  margin-top: 300px;
  font-size: 20px;
  font-weight: bold;
}

button {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  padding: 10px;
  background-color: darkgrey;
  font-size: 18px;
}

.button-container {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}